{% schema %}
  {
    "name": "Resource hub",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
  
  .placehold-video{
    width: 300px;
    height: 200px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
{% endstylesheet %}

{% assign urlSegments = request.path | split: '/' %}
                                            
{% for segment in urlSegments %}
  
  {% if segment == 'en-gb' or segment == 'en-ca' %}
    
    <div id="app">
      <section class ="page-width py-s5">
        <h1>Resources for GB and CA</h1>
        <div class="shopify-grid">
          <div class = "placehold-video"><p>Video</p></div>
          <div class = "placehold-video"><p>Video</p></div>
          <div class = "placehold-video"><p>Video</p></div>
          <div class = "placehold-video"><p>Video</p></div>
          <div class = "placehold-video"><p>Video</p></div>
          <div class = "placehold-video"><p>Video</p></div>
        </div>
        <p>Show up here</p>
      </section>
    </div>
    
  {% endif %}
{% endfor %}

{% javascript %}
{% endjavascript %}